name: Build project

on:
  push:
  pull_request:
  release:
  deployment:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FILES: 'master1.txt master2.txt'
    steps:        
      - name: "Checkout project sources"
        uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: "Build win unit tests"
        run: |
          echo "pwd"
          pwd
          echo "ls -al"
          ls -al
          cd rust
          executables=$(cargo test --no-run --message-format=json | jq -r "select(.profile.test == true) | .executable")
          echo "WIN_UNITTESTS=master1.txt" >> "$GITHUB_ENV"
      - name: "Store win unit tests"
        uses: actions/upload-artifact@v3.1.2
        with:
          name: release
          path: |
            ${{ env.FILES }}
  test:
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: "Download win unit tests"
        uses: actions/download-artifact@v3
        with:
          name: release
      - name: "In Test"
        run: |
          echo "env test"
          echo ${{ env.WIN_UNITTESTS }}
          ls -al

